git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git,
git+https://github.com/huggingface/accelerate.git
bitsandbytes
datasets 
torch
gradio
scipy 
ipywidgets
matplotlib
transformers
sentence-transformers
nltk
rouge-score 
rouge
bert-score
evaluate

